
#RDLtable th, #DSCtable th, #RDLtable td, #DSCtable td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.smallFontCell {
	font-size: 7px;
	vertical-align: middle;
	padding-top: 7px;
}
#RDLmgrTookSign {
	font-size: 9px;
}
#RDLvariance {
	font-size: 9px;
}
#DSCdiv, #RDLdiv {
	float: left;
    width: 400px;
    padding-left: 0px;
    margin: 50px;
    font-family: Carter One;
    text-align: center;
}
#DSCdiv th, #DSCdiv td, #RDLdiv th, #RDLdiv td {
	padding: .2rem;
} 
#DSCdiv input {
	width: 100%;
 	background: none;
 	border: none;
 	text-align: center;
}
#RDLdiv input {
	width: 100%;
 	background: none;
 	border: none;
 	text-align: center;
}
#GPLocalStorageClear {
	float: right;
}
#GPLocalStorageSave {
	float: left;
}
body {
	font-family: Carter One;
}